<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Inventory Management</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body style="background-color:rgb(255, 235, 205);">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                    <a href="https://lh3.googleusercontent.com/d/14FsbLgtlsPyo11XQsTJ2k7Jg1jDcJ72D=s220?authuser=0"><img src="https://lh3.googleusercontent.com/d/14FsbLgtlsPyo11XQsTJ2k7Jg1jDcJ72D=s220?authuser=0" style="max-width: 20%;" title="Homyzz Logo" /></a>
            </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
              <li><a href="/home_">Home</a></li>
              <li><a href="/about2_">About</a></li>
              <li><a href="/contact2_">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout_"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">
        <div style="background:rgb(223, 188, 142) " class="jumbotron" >
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Welcome to Homyzz</h1>
            <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Home Inventory Management App</p>
        </div>
    </div>

    <div class="container">

      <form class="form-inline" action="/action_page.php">
        <label for="income" class="mb-2 mr-sm-2">Income:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="income" placeholder="Enter income" name="income">
        <br><br>
        <label for="savings" class="mb-2 mr-sm-2">Savings:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="savings" placeholder="Enter 0 if no amount" name="savings">
        <br><br>
        <label for="emergency" class="mb-2 mr-sm-2">Emergency amount:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="emergency" placeholder="Enter 0 if no amount" name="emergency">
        <br><br>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>

</body>
</html>