<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body style="background-color:rgb(255, 235, 205);">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <a href="https://lh3.googleusercontent.com/d/14FsbLgtlsPyo11XQsTJ2k7Jg1jDcJ72D=s220?authuser=0"><img src="https://lh3.googleusercontent.com/d/14FsbLgtlsPyo11XQsTJ2k7Jg1jDcJ72D=s220?authuser=0" style="max-width: 20%;" title="Homyzz Logo" /></a>
            </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/about_">About</a></li>
              <li><a href="/contact_">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register_"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a href="/login_"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">
    <div style="background:rgb(223, 188, 142) " class="jumbotron" >
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Welcome to Homyzz</h1>
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Home Inventory Management App</p>
    </div>

<!--        Register:-->
    <div class="container">
      <h4 style="font-family:verdana">Register yourself:</h4>
        <form action="/register_and_save_" method="post">
          <div class="form-group">
              <label for="uname">Name:</label>
              <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname">
          </div>
          <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
          </div>
          <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
              </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>
</body>
</html>